*{
    margin: 0;
    padding: 0;
    font-family: 'Shippori Mincho B1', serif;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(img/background1.jpeg);
    background-position: center;
    background-size: cover; 
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 150px;
}

.nav-links {
    flex: 1px;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block; 
    padding: 3px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #d1d1d1;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after {
    content:'';
    width: 0px;
    height: 2px;
    background: #7490C7;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
     width: 100%
}

.textbox {
    width: 90%;
    color: #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.textbox h1 {
    font-size: 52px;
}

.textbox p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: #d1d1d1;
}

.button {
    position: relative;
    top: 250px;
    display: inline-block;
    text-decoration: none;
    color: #d1d1d1;
    border: 1px solid #d1d1d1;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    cursor: pointer;
}

.button:hover {
    border: 1px solid #7490C7;
    background: #7490C7;
    transition: 0.5s;
}

nav .fa {
    display: none;
}

@media(max-width: 414px){
    .textbox h1 {
        font-size: 22px;
    }

    .textbox p br {
        content: '';
    }

    .nav-links ul li {
        display: block;
    }
    .nav-links {
        position: absolute;
        background: #7490C7;
        height: 100vh;
        width: 150px;
        top: 0;
        right: -150px;
        text-align: left;
        z-index: 2;
        transition: 0.5s;
    }

    nav .fa {
        display: block;
        color: #FFF;
        margin: 10px;
        font-size: 12px;
        cursor: pointer;
    }

    .nav-links ul {
        margin: 20px;
    }

    .button {
        position: relative;
        top: 200px;
    }
}

/* tours */

.tours {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 30px;
}

.tours h1 {
    font-size: 32px;
    font-weight: 600;
    color: #5f5f5f;
}

.tours p {
    color: #777;
    font-size: 14px;
    font-weight: 300px;
    padding: 10px;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.tours-col {
    flex-basis: 310px;
    background: #e4e4e4b3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    color: #444444;
}

.tours-col:hover {
    box-shadow: 0 0 10px 0 #000;
}

@media(max-width: 414px){
    .row {
        flex-direction: column;
    }
}

/*sightseeins*/
 
.sights {
    width: 80%;
    text-align: center;
    margin: auto;
    padding-top: 30px;
}

.sights h1 {
    color: #5f5f5f;
}

.sights p {
    color: #777;
}

.sights-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.sights-col img {
    width: 100%;
    display: block;
}

.layer {
    background: #a0a0a0b3;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0; 
}

.layer:hover {
    background: transparent;
    transition: 1s;
    color: #fff;
}

.layer h3 {
    font-size: 25px;
    color:#000;
    width: 100%;
    font-weight: 500;
    bottom: 50%;
    left: 0;
    opacity: 1;
    position: absolute;
    transition: 1s;
}

.layer:hover h3 {
    color:#fff;
    width: 100%;
    font-weight: 500;
    bottom: 50%;
    left: 0;
    opacity: 1;
    position: absolute;
}

/*wildlife*/

.wildlife {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 30px;
}

.wildlife h1 {
    color: #5f5f5f;
}

.wildlife p {
    color: #777;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.wildlife-col {
    flex-basis: 40%;
    background: #e4e4e4b3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding-bottom: 12px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    transition: 0.5s;
}

.wildlife-col:hover {
    box-shadow: 0 0 10px 0 #000;
}

.wildlifepic {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: center;
}

.wildlifepic img {
    width: 100%;
    border-radius: 10px;
}

.wildlife-col p {
    color: #777;
    padding: 0;
}

.wildlife-col h3 {
    color: #5f5f5f;
    padding: 10px;
    text-align: center;
}

/*testimonials*/

.testimonials {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 30px;
}

.testimonials h1 {
    color: #5f5f5f;
}

.testimonials h3 {
    color: #5f5f5f;
}

.testimonials p {
    color: #777;
}

.testimonials-col {
    flex-basis: 40%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #e4e4e4b3;
    padding: 25px;
    cursor: pointer;
    display: flex;
}

.testimonials-col img {
    height: 40px;
    width: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}

.testimonials p {
    padding: 0;
}

.testimonials h3 {
    margin-top: 15px;
    text-align: left;
}

/*cta*/

.cta {
    margin: 30px auto;
    width: 80%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(img/bg.jpeg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}

.cta h1 {
    color: #fff;
    margin-bottom: 30px;
    padding: 0;
}

.btn {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #d1d1d1;
    border: 1px solid #d1d1d1;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    cursor: pointer;
}

.btn:hover {
    border: 1px solid #7490C7;
    background: #7490C7;
    transition: 0.5s;
}

.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h4 {
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.footer p {
    font-size: 10px;
}

@media(max-width: 414px) {
    .footer p {
        margin: 20px;
    }
}